@font-face {
    font-display: swap;
    font-family: Averta W01 Light;
    font-style: normal;
    font-weight: 300;
    src: url(//cdn.cr.org/crux/fonts/v1/CR-AvertaVF-S.woff2) format("woff2"), url(//cdn.cr.org/crux/fonts/v1/CR-AvertaVF-S.woff) format("woff");
    unicode-range: u+0020-005f, u+0061-007d, u+00a1-00a3, u+00a6, u+00a8-00a9, u+00ab, u+00ae, u+00b4, u+00b7, u+00bb, u+00bf, u+00c1, u+00c9, u+00cd, u+00d1, u+00d3, u+00d7, u+00da, u+00dc, u+00df, u+00e1, u+00e9, u+00ed, u+00f1, u+00f3, u+00f7, u+00fa, u+00fc, u+02dc, u+0301, u+0303, u+0308, u+2013-2014, u+2018-201a, u+201c-201e, u+2022, u+2039, u+203a, u+20ac, u+2122, u+2212
}

@font-face {
    font-display: swap;
    font-family: Averta W01 Black;
    font-style: normal;
    font-weight: 900;
    src: url(//cdn.cr.org/crux/fonts/v1/CR-AvertaVF-S.woff2) format("woff2"), url(//cdn.cr.org/crux/fonts/v1/CR-AvertaVF-S.woff) format("woff");
    unicode-range: u+0020-005f, u+0061-007d, u+00a1-00a3, u+00a6, u+00a8-00a9, u+00ab, u+00ae, u+00b4, u+00b7, u+00bb, u+00bf, u+00c1, u+00c9, u+00cd, u+00d1, u+00d3, u+00d7, u+00da, u+00dc, u+00df, u+00e1, u+00e9, u+00ed, u+00f1, u+00f3, u+00f7, u+00fa, u+00fc, u+02dc, u+0301, u+0303, u+0308, u+2013-2014, u+2018-201a, u+201c-201e, u+2022, u+2039, u+203a, u+20ac, u+2122, u+2212
}

html {
    font-size: 10px
}

@media only screen and (max-width:767px) {
    html {
        font-size: 14px
    }
}

#global-footer .crux-body-copy a {
    border: solid #000;
    border-width: 0 0 1px;
    color: #000;
    text-decoration: none
}

#global-footer a.crux-body-copy,
#global-footer a.crux-label-style--small {
    color: #000;
    text-decoration: none
}

#global-footer a.crux-body-copy:hover,
#global-footer a.crux-label-style--small:hover {
    color: #00ae4d;
    text-decoration: none
}

#g-nav-new-container .gnav-container a.crux-body-copy.crux-body-copy--small:hover,
#global-footer .cr-footer--wrapper a.crux-body-copy.crux-body-copy--small:hover {
    color: #fff
}

#global-footer .cda-btn {
    display: block;
    font-family: Averta W01 Bold, sans-serif;
    touch-action: manipulation
}

#global-footer .cda-btn:focus {
    outline: 0
}
#global-footer .cr-footer--outer-wrapper {
    display: block;
}

#global-footer .footer--buttons .crux-btn.footer--donate {
    display: none;
}

@media only screen and (max-width: 767px) {
    #global-footer .cr-footer--col ul {
        display: block;
    }
}